@import "./../../styles/variables.scss";

section.about-me {
  p {
    span.phone {
      font-size: $font-sm;
    }

    &.links {
      margin-top: $size-4;

      a {
        text-decoration: none;
      }

      span.im {
        margin-right: $size-5;
      }
    }
  }

  ul {
    margin-top: $size-4;
  }
}
