@import "./../../styles/variables.scss";

section.about-me {
  p {
    span.phone {
      font-size: $font-sm;
    }

    &.links {
      margin-top: $size-4;

      span.im {
        margin-right: $size-5;
      }
    }
  }

  ul {
    margin-left: $size-3;
    margin-top: $size-4;
    list-style-type: disc;
  }
}
