// margins and padding
$size-1: 1cm;
$size-2: 0.75cm;
$size-3: 0.5cm;
$size-4: 0.25cm;
$size-5: 0.2cm;

// colors
$background-black: #1e272e;
$deep-black: #2f3640;
$deep-red: #cb0a0a;
$light-red: #ff3838;
$lighter-red: #fc466b;
$mf-magenta: #ff0080;
$white: #ffffff;

// fonts size
$font-xxl: 24pt;
$font-xl: 18pt;
$font-lm: 16pt;
$font-l: 14pt;
$font-sm: 12pt;
$font-m: 10pt;
$font-s: 9pt;

// font-weight
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 900;
