@import "./../../styles/fonts.scss";
@import "./../../styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: $font-light;
  font-size: $font-m;
  color: $deep-black;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

.im {
  font-family: "icomoon";
}

html {
  width: 100%;
  background-color: $background-black;

  body {
    position: relative;
    margin: auto;
    width: 21cm;
    height: 29.7cm;

    // for design purpose only
    background-color: white;
    box-shadow: 2px 2px 7px black, -2px -2px 7px black;

    div#root {
      height: 100%;
    }
  }
}
