@import "./../../styles/variables.scss";

section.teamwork {
  ul {
    li {
      &:not(:first-child) {
        margin-top: $size-4;
      }

      b {
        font-weight: $font-bold;
      }
    }
  }
}

section.skills {
  .columns {
    display: flex;
    flex-direction: row;

    .right, .left {
      width: 50%;

      p {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          &.im {
            margin-right: $size-4;
            font-size: $font-xxl;
          }
        }

        // rxjs icon
        img {
          margin-right: $size-4;
          max-width: 36px;
          margin-left:-3px;
        }
      }
    }
  }
}
